#add_confirm {
    align: center top;
}

#horizontal_error {
    align-horizontal: center;
    margin: 0;
    padding: 0;
    height: 3;
}

#import {
    dock: right;
}

Button {
    margin: 1;
}

Button.invisible {
    visibility: hidden;
}

#question-container {
    align: center middle;
}